.main{
    background-color: #F8F7F4; /* Light background color */
    padding: 0% 15% 0%;
    height: fit-content;
}

.color-swatch{
    border-radius: 0%;
}
.recommend{
    font-weight: 500;
}

.color-swatch-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns items to the top */
    gap: 10px; /* Adds space between the swatch and text */
    width: 200px;
    height: 300px;
    /* text-align: left; */
  }
  
  .color-info {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .color-name,
  .color-description {
    margin: 0;
  }
  